body {
    color:#8f8f8f;  
    font:12px Tahoma, sans-serif;
    background-color: #f8f8f8;
    border-top: 5px solid #7e7e7e;
    margin: 0;
}

input [type="text"] {
    background-color: #f3f3f3;
    border: 1px solid #7e7e7e;
    height: 30px;
    color: #b2b2b2;
    padding: 0 10px;
    vertical-align: top;
}
button {
    color:#fff;
    background-color: #29c5e6;
    border: none;
    height: 32px;   
    font-family: 'Oswald',sans-serif;
}   

p {
    margin: 20px 0;

}

.wrapper {
    max-width: 960px;
    margin: auto;
    padding: 0 20px;
}

header {
    padding: 20px 0;
}

form[name="search"] {
    float: right;
}

.top-decoration a {
    text-decoration: none;
    padding: 10px 30px;
    width: 100%;
    height: 100%;
    border: 1px solid #29c5e6;

}

.top-decoration ul {
    margin: 0;
    padding: 0;
}

.top-decoration li {
    list-style-position: inside;
    font: 14px 'Oswald',sans-serif;
    margin: 0
}

nav ul li a:hover {
    background: #29c5e6;
    text-decoration: none;
    
}
.top-menu li {
    background-color: #ffffff;
    display: inline-block;
    margin: 0;
}

.top-menu a {
    color: #b2b2b2;
}

.heading-1 {
    background: transparent url(../images/h1-bg.png);
    margin: 30px 0;
    padding-left: 20px;
}

h1 {
    display: inline-block;
    color: #7e7e7e;
    font: 40px/40px 'Oswald',sans-serif;
    background: url(../images/bg.png);
    margin: 0;
    padding: 0 10px;
}

aside {
    float: left;
    width: 250px;
    background-color: #c9c9c9
}

section {
    margin-left: 280px;
    padding-bottom: 50px;
}

.aside-menu li {
    font-weight: 300;
    list-style-position: inside;
    list-style-type: none;
    text-decoration: none;  
    line-height: 200%;
    border: 1px solid #000000;
}
.aside-menu li:not(:last-child){
    border-bottom: 0px;
}
.aside-decoration ul {
    margin: 0;
    padding: 0;
}
.aside-decoration a {
    text-align: center;
    display: block;
    color:rgba(255, 255, 255, 0.884);
    text-decoration: none;
    width: 100%;
    height: 100%;
    
}

aside > h2 {
    background: #29c5e6;
    font: 14px 'Oswald',sans-serif;
    color:#fff;
    padding: 10px;
    margin: 30px 0 0 0;
}

aside > p {
    background: #f3f3f3;
    border: 1px solid #e7e7e7;
    padding: 10px;  
    margin: 0;
}

blockquote {
    margin: 0;
    background: #29c5e6;
    padding: 10px 20px;
    font-family: 'Oswald',sans-serif;
    font-weight: 300;   
    border: 1px solid #231213;
}

blockquote p {
    color: #fff;
    font-style: italic;
    font-size: 33px;
    margin: 0;
}

blockquote cite {
    display: block;
    font-size: 20px;
    font-style: normal;
    color:  #1d8ea6;
    margin: 0;
    text-align: right;    
}

figure {
    display: inline-block;
    margin: 0;
    font-family: 'Oswald',sans-serif;
    font-weight: 300;
}

figure img {
    display: block;
    border: 1px solid #fff;
    outline: 1px solid #c9c9c9;
}

figure figcaption {
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
}

figure figcaption span {
    display: block;
    font-size: 14px;
    color: #29c5e6;
}

section > figure + figure {
    margin-left: 28px;
}

section > h2 {
    background: #29c5e6;
    font: 30px 'Oswald',sans-serif ;
    font-weight: 300;
    color: #fff;
    padding: 0 10px;
    margin: 30px 0 0 0;
}

figure figcaption {
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
}

figure div {
    font-size: 14px;
    color: #29c5e6;
}
.team-row figure {
    margin-top: 20px;
}

.team-row figure + figure {
    margin-left: 43px;
}

footer {
    background: #7e7e7e;
    color: #dbdbdb;
    font-size: 11px;
}

.footer {
    max-width: 960px;
    margin: auto;
    padding: 10px 0;
    height: 90px;
}

footer h3 {
    font: 14px 'Oswald', sans-serif;
    color: #fff;
    border-bottom: 1px solid #919191;
    margin: 0 0 10px 0;
}

.twitter time a {
    color: #b4aeae;
}

footer p {
    margin: 5px 0;
}

.twitter {
    float: left;
    width: 300px ;
}

.twitter p {
    padding-right: 15px;
}

footer a {
    color: #dbdbdb;
}

.sitemap {
    width: 150px;
    float: left;
    margin-left: 20px;
    padding-right: 15px;
}

.sitemap div {
    display: inline-block;
}

.sitemap div + div {
    margin-left: 40px;
}

.sitemap a {
    display: block;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 5px;
}

.sitemap a:hover {
    text-decoration: underline;
}

.social {
    float: left;
    margin-left: 20px;
    width: 130px;
}

.social-icon {
    width: 30px;
    height: 30px;
    background: url(images/social.png) no-repeat;
    display: inline-block;
    margin-right: 10px;
}

.social-icon-small {
    width: 16px;
    height: 16px;
    background: url(images/social-small.png) no-repeat;
    display: inline-block;
    margin: 5px 6px 0 0;
}

.twitter {
    background-position: 0 0;
}

.facebook {
    background-position: -30px 0;
}

.google-plus {
    background-position: -60px 0;
}

.vimeo {
    background-position: 0 0;
}

.youtube {
    background-position: -16px 0;
}

.flickr {
    background-position: -32px 0;
}

.instagram {
    background-position: -48px 0;
}

.rss {
    background-position: -64px 0;
}

.footer-logo {
    float: right;
    margin-top: 30px;
    font-size: 10px;
    text-align: right;
}
.grid-container {
    display: grid;

}

.grid-container {
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;   
}

   

.grid-item {
    display: grid;
    min-height: 15vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 20px;
    align-content: center;
    text-decoration: none;
    color: #29c5e6;
}


   

.grid-item:nth-child(1) {
    grid-column: 1/3;
}
.grid-item:nth-child(5) {
    grid-column: 2/4;
}
.grid-item:nth-child(6) {
    grid-column: 4;
    grid-row: 2/4;
}

